$black: #222;

body, html {
    background: $black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.33em;
}

h1 { 
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
    color: rgba( white, 0.6);
    margin-bottom: 40px;
}
 
iframe { border: 0 }
iframe {    
    width: 2722px;
    height: 4940px;
    zoom: 0.4;
    -moz-transform: scale(0.34);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.34);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.34);
    -webkit-transform-origin: 0 0;
}
.step {
    margin: 40px auto;
    display: block;
    position: relative;
    display: none;
    
    &.step3 {
        .vs { width: 810px }
        .panel {
            width: 370px !important;
            height: 671px !important;
            margin-top: 0 !important;
        }
    }
    
    .vs {
        width: 1000px;
        height: 500px;
        margin: 0 auto;
        display: block;
        position: relative;
        
        .panel {
            border: 1px solid white;
            float: left;
            width: 468px;
            height: 468px;
            margin-top: 70px;
            position: relative;
            overflow: hidden;
            
            iframe {
                background: white;
                width: 2792px;
    height: 5060px;
    zoom: 0.39;
    -moz-transform: scale(0.34);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.34);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.34);
    -webkit-transform-origin: 0 0;
            }
            img {
                width: 100%;
            }
            &.test.right:hover::before {
                content: 'that';
            }
            &.test:hover::before {
                content: 'this';
                display: block;
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                margin-left: -50px;
                margin-top: -50px;
                border-radius: 100px;
                line-height: 100px;
                text-align: center;
                font-size: 3em;
                color:white;
                z-index: 100;
                position: absolute;
                background: rgba( black, 0.65 );
                cursor: pointer;
            }
        }
        .left {
            margin-right: 60px;
            &.done {
                &::before {
                    display: block;
                    content: 'this';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: blue;
                    color: white;
                    line-height: 600px;
                    text-align: center;
                    font-size: 3em;
                    cursor: pointer;
                }
                    &:hover::before { background: darken( blue, 20% ); }
            }
        }
        
        .right {
            &.done {
                &::before {
                    display: block;
                    content: 'that';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: red;
                    color: white;
                    line-height: 600px;
                    text-align: center;
                    font-size: 3em;
                    cursor: pointer;
                }
                    &:hover::before { background: darken( red, 20% ); }
            }
        }
        
        .or {
            position: absolute;
            top: 10px;
            left: 500px;
            width: 1px;
            background: rgba(white, 0.2);
            color: white;
            height: 580px;
            &::after {
                content: 'OR';
                font-weight: 300;
                display: block;
                background: $black;
                border-radius: 40px;
                width: 40px;
                height: 40px;
                position: absolute;
                top: 300px;
                left: -20px;
                line-height: 40px;
                text-align: center;
            }
        }
    }
}

step1 {
}

.start_panel {
    display: block;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    width: 420px;
    padding: 60px;
    height: auto;
    
    .row {
        height: 40px;
        line-height: 40px;
        width: 100%;
        border-bottom: 1px solid #efefef;
        display: inline-block;
    }
    label {
        width: 200px;
        text-align: right;
        font-weight: 300;
        display: inline-block;
        margin-right: 10px;
    }
    
    input:not([type="button"]), select {
        border: 1px solid #ccc;
        height: 26px;
        line-height: 26px;
        padding: 0 5px;
        &.problem {
            border: 2px solid red;
            height: 24px;
        line-height: 24px;
        }
    }
    
    input[type="submit"] {
        background: white;
        border: 1px solid #4a909f ;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        width: 140px;
        margin: 30px auto 0;
        display: block;
        &:hover, &:focus { 
            background: #4a909f;
            color: white;
            font-weight: 400;
        }
    }
}