.actions {
    width: 100%;
    
    section {
        display: block;
        float: left;
        height: auto;
    }
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
    
    h3 {
        font-weight: 300;
        color: $black;
        margin: 40px 20px;
        font-size: 1.6em;
        text-align: left;
    }
    p {
        margin: 20px;
        font-size: 1em;
        font-weight: 400;
        color: $grey;
        
    }
}