.boxes {
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 20px 0 40px;
    
    .box {
        height: 400px;
        margin: 20px 10px 0;
        border: 1px solid $light-grey;
        float: left;
        figure {
            height: 200px;
            background-size: cover;
            background-position: left;
        }
        
        h3 {
            line-height: 40px;
            font-size: 1.3em;
            font-weight: 400;
            margin: 10px 10px;
        }
        
        p {
            margin: 10px 10px;
            text-overflow: ellipsis;
            max-height: 100px;
            overflow: hidden;
        }
    }
}