header {
    &.symmetry-1 {
        .logo {
            float: left;
        }
        
        .left-menu {
            float: right;
        }
        .right-menu {
            float: right;
        }
    }
}

.boxes {
    &.symmetry-1 .box { width: calc( 33% - 40px ) }
    &.symmetry-2 .box { width: calc( 33% - 40px ) }
    &.symmetry-3 .box { width: calc( 33% - 40px ) }
    &.symmetry-4 .box { width: calc( 33% - 40px ) }
    &.symmetry-5 .box { width: calc( 33% - 40px ) }
    &.symmetry-6 .box { width: calc( 33% - 40px ) }
    &.symmetry-7 {
        .box::first-of-type { width: calc( 66% - 40px ) }
        .box::first-of-type(2) { width: calc( 33% - 40px ) }
        .box::nth-of-type(3) { width: calc( 16% - 40px ) }
        .box::nth-of-type(4) { width: calc( 16% - 40px ) }
        .box::nth-of-type(5) { width: calc( 70% - 40px ) }
        .box::nth-of-type(6) { width: calc( 20% - 40px ) }
        .box::nth-of-type(7) { width: calc( 40% - 40px ) }
    }
    

    
    h3.symmetry-1 { text-align: left }
    h3.symmetry-2 { text-align: left }
    h3.symmetry-3 { text-align: center }
    h3.symmetry-4 { text-align: center }
    h3.symmetry-5 { text-align: center }
    h3.symmetry-6 { text-align: right }
    h3.symmetry-7 { text-align: right }
    
    p.symmetry-1 { text-align: left }
    p.symmetry-2 { text-align: left }
    p.symmetry-3 { text-align: justify}
    p.symmetry-4 { text-align: justify}
    p.symmetry-5 { text-align: justify}
    p.symmetry-6 { text-align: right}
    p.symmetry-7 { text-align: right}
}

.properties {
    .prop.symmetry-1 { text-align: left }
    .prop.symmetry-2 { text-align: left }
    .prop.symmetry-3 { text-align: left }
    .prop.symmetry-4 { text-align: center}
    .prop.symmetry-5 { text-align: center }
    .prop.symmetry-6 { text-align: center }
    .prop.symmetry-7 { text-align: center }
}