/* line 3, /Applications/AMPPS/www/pref/symmetry.scss */
header.symmetry-1 .logo {
  float: left; }
/* line 7, /Applications/AMPPS/www/pref/symmetry.scss */
header.symmetry-1 .left-menu {
  float: right; }
/* line 10, /Applications/AMPPS/www/pref/symmetry.scss */
header.symmetry-1 .right-menu {
  float: right; }

/* line 17, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-1 .box {
  width: calc( 33% - 40px); }
/* line 18, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-2 .box {
  width: calc( 33% - 40px); }
/* line 19, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-3 .box {
  width: calc( 33% - 40px); }
/* line 20, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-4 .box {
  width: calc( 33% - 40px); }
/* line 21, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-5 .box {
  width: calc( 33% - 40px); }
/* line 22, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-6 .box {
  width: calc( 33% - 40px); }
/* line 24, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::first-of-type {
  width: calc( 66% - 40px); }
/* line 25, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::first-of-type(2) {
  width: calc( 33% - 40px); }
/* line 26, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::nth-of-type(3) {
  width: calc( 16% - 40px); }
/* line 27, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::nth-of-type(4) {
  width: calc( 16% - 40px); }
/* line 28, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::nth-of-type(5) {
  width: calc( 70% - 40px); }
/* line 29, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::nth-of-type(6) {
  width: calc( 20% - 40px); }
/* line 30, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes.symmetry-7 .box::nth-of-type(7) {
  width: calc( 40% - 40px); }
/* line 35, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-1 {
  text-align: left; }
/* line 36, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-2 {
  text-align: left; }
/* line 37, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-3 {
  text-align: center; }
/* line 38, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-4 {
  text-align: center; }
/* line 39, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-5 {
  text-align: center; }
/* line 40, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-6 {
  text-align: right; }
/* line 41, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes h3.symmetry-7 {
  text-align: right; }
/* line 43, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-1 {
  text-align: left; }
/* line 44, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-2 {
  text-align: left; }
/* line 45, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-3 {
  text-align: justify; }
/* line 46, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-4 {
  text-align: justify; }
/* line 47, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-5 {
  text-align: justify; }
/* line 48, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-6 {
  text-align: right; }
/* line 49, /Applications/AMPPS/www/pref/symmetry.scss */
.boxes p.symmetry-7 {
  text-align: right; }

/* line 53, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-1 {
  text-align: left; }
/* line 54, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-2 {
  text-align: left; }
/* line 55, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-3 {
  text-align: left; }
/* line 56, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-4 {
  text-align: center; }
/* line 57, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-5 {
  text-align: center; }
/* line 58, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-6 {
  text-align: center; }
/* line 59, /Applications/AMPPS/www/pref/symmetry.scss */
.properties .prop.symmetry-7 {
  text-align: center; }

/*# sourceMappingURL=symmetry.css.map */