//body.brightness-1 { background-color: white;
//    &.contrast-1 { color: lighten( $black, 84% ); }
//    &.contrast-2 { color: lighten( $black, 84% ); }
//    &.contrast-3 { color: lighten( $black, 84% ); }
//    &.contrast-4 { color: lighten( $black, 84% ); }
//    &.contrast-5 { color: lighten( $black, 84% ); }
//    &.contrast-6 { color: lighten( $black, 84% ); }
//    &.contrast-7 { color: lighten( $black, 84% ); }
//} 
//body.brightness-2 { background-color: darken( white, 14% ) } 
//body.brightness-3 { background-color: darken( white, 28% ) } 
//body.brightness-4 { background-color: darken( white, 42% ) } 
//body.brightness-5 { background-color: darken( white, 56% ) } 
//body.brightness-6 { background-color: darken( white, 70% ) } 
//body.brightness-7 { background-color: darken( white, 84% ) }