/* line 3, /Applications/AMPPS/www/pref/properties/type.scss */
.type-1 .banner {
  background-image: none; }
/* line 7, /Applications/AMPPS/www/pref/properties/type.scss */
.type-1 .boxes .box {
  height: 200px !important; }
  /* line 8, /Applications/AMPPS/www/pref/properties/type.scss */
  .type-1 .boxes .box figure {
    display: none; }
/* line 10, /Applications/AMPPS/www/pref/properties/type.scss */
.type-1 .properties i {
  display: none; }

/* line 17, /Applications/AMPPS/www/pref/properties/type.scss */
.type-2 header figure {
  border: 0; }
/* line 18, /Applications/AMPPS/www/pref/properties/type.scss */
.type-2 header figure::before {
  display: block;
  width: 80px;
  content: '';
  height: 60px;
  background-image: url("logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  margin: 0 10px;
  background-color: white; }
/* line 30, /Applications/AMPPS/www/pref/properties/type.scss */
.type-2 .banner {
  background-image: none; }
/* line 34, /Applications/AMPPS/www/pref/properties/type.scss */
.type-2 .boxes .box {
  height: 200px !important; }
  /* line 35, /Applications/AMPPS/www/pref/properties/type.scss */
  .type-2 .boxes .box figure {
    display: none; }
/* line 37, /Applications/AMPPS/www/pref/properties/type.scss */
.type-2 .properties i {
  display: none; }

/* line 44, /Applications/AMPPS/www/pref/properties/type.scss */
.type-3 header figure {
  border: 0;
  position: relative;
  overflow: initial; }
/* line 45, /Applications/AMPPS/www/pref/properties/type.scss */
.type-3 header figure::before {
  display: block;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  height: 60px;
  background-image: url("logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  margin: 0px 0px; }
/* line 60, /Applications/AMPPS/www/pref/properties/type.scss */
.type-3 .banner {
  background-image: none; }
/* line 67, /Applications/AMPPS/www/pref/properties/type.scss */
.type-3 .properties i {
  display: none; }

/* line 74, /Applications/AMPPS/www/pref/properties/type.scss */
.type-4 header figure {
  border: 0;
  position: relative;
  overflow: initial; }
/* line 75, /Applications/AMPPS/www/pref/properties/type.scss */
.type-4 header figure::before {
  display: block;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  height: 60px;
  background-image: url("logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  margin: 0px 0px; }
/* line 94, /Applications/AMPPS/www/pref/properties/type.scss */
.type-4 .boxes .box {
  height: 200px !important; }
  /* line 95, /Applications/AMPPS/www/pref/properties/type.scss */
  .type-4 .boxes .box figure {
    display: none; }

/* line 104, /Applications/AMPPS/www/pref/properties/type.scss */
.type-5 header figure {
  border: 0;
  position: relative;
  overflow: initial; }
/* line 105, /Applications/AMPPS/www/pref/properties/type.scss */
.type-5 header figure::before {
  display: block;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  height: 80px;
  background-image: url("logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  margin: 0px 0px; }
/* line 124, /Applications/AMPPS/www/pref/properties/type.scss */
.type-5 .boxes .box {
  height: 400px !important;
  overflow: hidden; }

/* line 134, /Applications/AMPPS/www/pref/properties/type.scss */
.type-6 header figure {
  border: 0;
  position: relative;
  overflow: initial; }
/* line 135, /Applications/AMPPS/www/pref/properties/type.scss */
.type-6 header figure::before {
  display: block;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  height: 60px;
  background-image: url("logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  margin: 0px 0px; }
/* line 150, /Applications/AMPPS/www/pref/properties/type.scss */
.type-6 .banner::after {
  content: 'Play Video';
  color: white;
  font-size: 1.2em;
  display: block;
  position: absolute;
  font-weight: 400;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  opacity: 0.4; }
/* line 163, /Applications/AMPPS/www/pref/properties/type.scss */
.type-6 .banner::before {
  content: "\f215";
  color: white;
  font-size: 3em;
  display: block;
  position: absolute;
  font-family: ionicons;
  bottom: 60px;
  left: 50%;
  margin-left: -20px; }
/* line 175, /Applications/AMPPS/www/pref/properties/type.scss */
.type-6 .boxes .box {
  height: 400px !important;
  overflow: hidden; }

/* line 187, /Applications/AMPPS/www/pref/properties/type.scss */
.type-7 header figure {
  border: 0;
  margin-right: 60px !important;
  position: relative;
  overflow: initial; }
/* line 188, /Applications/AMPPS/www/pref/properties/type.scss */
.type-7 header figure::before {
  display: block;
  width: 80px;
  position: absolute;
  top: 0;
  right: -80px;
  content: '';
  height: 60px;
  background-image: url("logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  margin: 0px 0px; }
/* line 203, /Applications/AMPPS/www/pref/properties/type.scss */
.type-7 .banner::after {
  content: 'Play Video';
  color: white;
  font-size: 1.2em;
  display: block;
  position: absolute;
  font-weight: 400;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  opacity: 0.4; }
/* line 216, /Applications/AMPPS/www/pref/properties/type.scss */
.type-7 .banner::before {
  content: "\f215";
  color: white;
  font-size: 3em;
  display: block;
  position: absolute;
  font-family: ionicons;
  bottom: 60px;
  left: 50%;
  margin-left: -20px; }
/* line 228, /Applications/AMPPS/www/pref/properties/type.scss */
.type-7 .boxes .box {
  height: 260px !important;
  overflow: hidden; }
  /* line 228, /Applications/AMPPS/www/pref/properties/type.scss */
  .type-7 .boxes .box p {
    display: hidden; }

/*# sourceMappingURL=type.css.map */